@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap');

body {
  background-color: #2b2b2b;
  color: white;
  text-align: center;
  font-family: 'Lato', sans-serif;
}

ul {
  list-style-type: none;
  padding: 0;
}

#player1-card, #player2-card {
  background-color: #444;
  height: 300px;
  width: 200px;
  margin: 0 auto;
  margin-bottom: 50px;
}

a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.btn {
  padding: 10px 15px;
  border: 1px solid white;

}

.btn:hover {
  background-color: #fff;
  color: #2b2b2b;
}
