@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap');


body {
  /*background-color: #2b2b2b;
  color: white;*/
  font-family: 'Lato', sans-serif;
  margin: 0;
  background-color: #000;
}

.header {
  background-color: #000;

}

.header img {
  max-width: 50%;

}

div {
  background-color: #222;
  width: 100px;
  height: 100px;
  border: 1px solid #000;
  font-size: 0.8em;
  color: #777;
}

/*#start {
  background-color: #999 !important;
}*/

.start {
  text-transform: uppercase;
}

span {
  background-color: #000;
  color: #fff;
  padding: 15px;
  text-align: center;
  border-radius: 50%;
  margin: 1px;
  display: inline-block;
  font-size: 0.9em;
  font-weight: bold;
  /*border: 1px solid #444;*/
}

.game-page {
  text-align: center;
  width: 100%;
}

.boardgame {
  display: grid;
  grid-template-columns: 30% 40% 30%;
  width: 100%;
  height: 100%;
  background-color: #000;
}

#board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  margin-top: 50px;
  grid-column-start: 2;
}

.dice {
  height: auto;
  /*margin: 3vh 33vw;*/
  display: inline;
}

#dice-number {
  background-color: none !important;
  color: white;
  /*margin: 1vh 33vw;*/
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 2px;
}

#congrats {
  color: white;
  text-align: center;
}

#winnerCard {
  height: 400px;
  width: 300px;
  margin: 0 auto;
  margin-top: 10vh;
}

a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;

}

.btn {
  padding: 10px 15px;
  border: 1px solid white;
  display: inline-block;
  font-size: 0.9em;
  font-weight: bold;
  letter-spacing: 1px;
}

.btn:hover {
  background-color: #fff;
  color: #000;
}

.winner {
  text-align: center;
}

.big-stone {
  margin: 40px 0px 5px 0px;
  height: 150px;
}


#description {
  color: #999;
  line-height: 1.4em;
  margin-bottom: 40px;
}

footer {
  bottom: 0;
  background-color: #111;
  color: #777;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 3px;
  height: 100px;
  padding-top: 50px;
  margin-top: 800px;
  text-align: center;
}
